.search {
  display: inline-flex;
  margin: auto;
}
.search-input{
  width: 350px;
  display: inherit;
  margin-right: 5px;
}
.btn:hover{
  cursor: pointer;
}
.btn-search{
  height: 38px;
}

.btn-blue, .btn-white:hover{
  background-color: #2795fc;
  color: #fff;
  box-shadow: 0 2px 4px rgba(39, 149, 252, 0.5);
  border-color: #2795fc;
}


.result{
  margin-top: 20px;
}
.res-top{
  position: relative;
  height: 40px;
}
.res-top::after{
  content: '';
  clear: both;
}
.sort{
  float: left;
}
a{
  text-decoration: none;
  float: left;
  padding: 6px 14px;
  border: 1px solid #dedede;
  background-color: #fff;
  color: #a0a0a0;
}
a.active, a:hover{
  background-color: #2896fc;
  color: #fff;
  border-color: #2896fc;
}
.collect{
  position: absolute;
  right: 10px;
}
.tbl-list{
  background-color: #fff;
  margin-top: 10px;
  // border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
}
.tbl-box {
  min-height: 400px;
}
.table{
  margin-bottom:0;
}
thead {
  // background-color: #f8f8f8;
  background-color: #fff;
  color: #000;
}
th {
  border-top-width: 0;
}
.table tbody tr:nth-of-type(odd){
  background-color: #e5f7fe;
}
.table-hover tbody tr:hover {
  // background-color: #e5f7fe;
  background-color: rgba(0, 171, 255, 0.7);
  color: #fff;
}
.tblEnNms, .tblChNm{
  cursor: pointer;
}
tbody{
  font-size: 14px;
}
td {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  vertical-align: middle;
  max-width: 270px;
  min-width: 90px;
  cursor: default;
}
td.tblEnNms, td.tblChNm{
  width: 253px;
  max-width: 253px;
}
img.no-record{
  margin-top: 100px;
}
.table .btn{
  line-height: 10px;
  width: 60px;
  padding: 0.5rem 3px;
  font-size: 14px;
}
.btn-collect{
  color:#a8a8a8;
  background-color: #fff;
  border: 1px solid #d3d2d2;
}
.btn-collect:hover {
  // color: #2896fc;
  // border-color: #2896fc;
  background-color: #00abff;
  color: #fff;
  border-color: #0093e7;
}
.btn-collected{
  color:#fcab2b;
  background-color: #fff;
  border: 1px solid #fcab2b;
}
.res-foot{
  height: 70px;
  background-color: #fff;
  // border: 1px solid #e5e5e5;
  border-top: 0;
}
