<nav class="sidebar">
  <ul class="nav flex-column">

    <li class="nav-section" *ngFor="let menu of menus" [class.expand]=" showMenu === menu.menuCode ">
      <a class="subtitle" (click)="addExpandClass(menu.menuCode);">
        <i class="icon-nav" [ngClass]="'icon-'+menu.menuCode"></i>
        <span>{{menu.menuName}}</span>
        <i class="icon-nav icon-arrow" [class.icon-expand]="showMenu === menu.menuCode"></i>
      </a>
      <ul class="nav flex-column submenu">
        <li *ngFor="let submenu of menu.subMenuInfoList">
          <a [routerLink]="[submenu.menuCode]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{submenu.menuName}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
