<my-breadcrumb [curPath]="pagetitle" [parentPath]="parentPath" ></my-breadcrumb>

<my-page-title [pagetitle]="pagetitle"></my-page-title>

<form (ngSubmit)="onSearch()">
  <div class="search">
    <div class="form-group">
      <input type="text" [(ngModel)]="searchModel.tableName" name="tableName" class="form-control search-input" placeholder="按中文表名、英文表名搜索" #tableName="ngModel">
    </div>
    <button type="submit" name="button" class="btn btn-blue btn-search">搜索</button>
  </div>
  <div class="select-box">
    <!-- <div class="result-desc">
      表搜索 共{{tblResult.totalCount}}个
    </div> -->
    <div *ngFor = "let option of options" class="select-items">
      <div class="select-key">
        {{option.cdeTypeDesc}} :
      </div>
      <div class="select-value">
        <ul class="select-list">
          <li *ngFor = "let selOpt of option.valueList" class="selector" [class.selected]="option.selResult.indexOf(selOpt.cdeValue)!==-1">
            <label>
              <input type="checkbox" class="checkbox" [checked]="option.selResult.indexOf(selOpt.cdeValue)!==-1"  name="selOpt.cdeValue" [disabled]="option.selResult.length>1 && !option.selMore"   [ngClass]="{'show':option.selMore}" (click)="select(option,selOpt)">
              {{selOpt.cdeValueDesc}}
            </label>
          </li>
        </ul>
        <div class="select-btn" [class.show] = "option.selMore">
          <button type="button" name="button" class="btn btn-sm btn-ok" (click)="option.selMore = false">确定</button>
          <button type="button" name="button" class="btn btn-sm btn-cancel" (click)="option.selMore = false">取消</button>
        </div>
      </div>
      <div class="select-more">
        <button type="button" name="button" class="btn btn-sm btn-white" [ngClass]="{'active':option.selMore,'hide':option.ifSingle}" (click)="option.selMore = !option.selMore">多选</button>
      </div>
    </div>
  </div>

</form>
<div class="result">
  <div class="res-top">
    <div class="sort">
      <a href="javascript:;" *ngFor = "let sort of sorts" [class.active]="sort.isActive" >
        {{sort.desc}} <span *ngIf="sort.sortType === 'asc'">&#8593;</span><span *ngIf="sort.sortType === 'desc'">&#8595;</span>
      </a>
    </div>
  </div>
  <div class="tbl-list">
    <div class="tbl-box" >
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">指标名</th>
            <th class="text-center">指标编号</th>
            <th class="text-center">应用领域</th>
            <th class="text-center">模块</th>
            <th class="text-center">负责人</th>
            <th class="text-center">指标定义</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let idx of indexResult.datas" class="text-left">
            <td>{{idx.idxNm}}</td>
            <td>{{idx.idxId}}</td>
            <td>{{idx.appSub}}</td>
            <td>{{idx.appMod}}</td>
            <td>{{idx.idxOwner}}</td>
            <td>{{idx.idxDef}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="res-foot">
      <div class="page-wrap">
        <span class="page-num">
          <a href="javascript:;" class="page-prev" [class.disabled]="currentPage === 1"><上一页</a>
          <b class="page-break" *ngIf="currentPage > 4 " >...</b>
          <a href="javascript:;" *ngFor = "let i of pageNums" [class.active]="currentPage === i" class="page-nb">{{i}}</a>
          <b class="page-break" *ngIf="indexResult.totalPage - currentPage > 4">...</b>
          <a href="javascript:;" class="page-next" [class.disabled]="currentPage === indexResult.totalPage">下一页></a>
        </span>
        <span class="page-skip">
          共{{indexResult.totalPage}}页 到第 <input type="text" name="" class="skip-num" > 页
          <button class="btn btn-sm btn-blue">确定</button>
        </span>
      </div>
    </div>
  </div>
</div>
