<!-- <div class="row see-what">
  <div class="col-md-4 usrCnt" *ngFor="let usrCnt of usrCnts">
    <div class="info-box">
      <div class="info-desc">
        <h5><i class="icon-box"></i>{{usrCnt.appNm}}</h5>
        <div class="detail">
          <div class="desc-wrap">
            <span class="desc text-left">{{usrCnt.appDesc}}</span>
          </div>
          <a [href]="usrCnt.appUrl" class="info-link" target="_blank">立即使用</a>
        </div>

      </div>
      <span class="info-cnt">{{usrCnt.companyName}} | {{usrCnt.resource}} | <span class="count">{{usrCnt.cntTotal}}</span>人开通</span>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-4 pie-chart-box">
      <div class="chart-wrap">
        <div echarts [options]="pieOption" class="pie-chart-graph"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="channels-info row">
        <div class="col-md-6 channels-info-item" *ngFor="let usrCnt of usrCnts">
          <div class="legend-color"></div>
          <p><a [href]="usrCnt.appUrl" target="_blank">{{usrCnt.appNm}}</a><span class="channel-number">{{usrCnt.cntTotal}}</span></p>
          <div class="progress progress-sm">
            <ngb-progressbar class="channel-progress" type="info" [animated]="true" [striped]="true" [value]="usrCnt.cntTotal>140?usrCnt.cntTotal*100/240:usrCnt.cntTotal*100/25"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
