<!-- <my-breadcrumb [curPath]="pagetitle" [parentPath]="parentPath" ></my-breadcrumb> -->

<my-page-title [pagetitle]="pagetitle"></my-page-title>

<form>
  <div class="search">
    <div class="form-group">
      <input type="text" class="form-control search-input" placeholder="按指标名称搜索" #indexName (keyup.enter)="onSearch(indexName.value)">
    </div>
    <button type="submit" name="button" class="btn btn-blue btn-search" (click)="onSearch(indexName.value)">搜索</button>
  </div>
  <my-select-box [options]="options"  (onSelectChanged)="onSelectChanged()" ></my-select-box>
</form>
<div class="result">
  <div class="res-top">
    <div class="sort">
      <a href="javascript:;" *ngFor = "let sort of sorts" [class.active]="sort.isActive" (click)="changeOrder(sort)">
        {{sort.desc}} <span *ngIf="sort.sortType === 'asc'">&#8593;</span><span *ngIf="sort.sortType === 'desc'">&#8595;</span>
      </a>
    </div>
  </div>
  <div class="tbl-list">
    <div class="tbl-box" >
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">序号</th>
            <th class="text-left">业务线</th>
            <th class="text-left">指标大类</th>
            <th class="text-left">指标小类</th>
            <th class="text-left">指标名称</th>
            <th class="text-left">定义</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let idx of indexResult.datas;let i = index;" class="text-left">
            <td class="text-center tblNo">{{i + 1 + (currentPage-1)*10}}</td>
            <td>{{idx.companyName}}</td>
            <td>{{idx.indexClass}}</td>
            <td>{{idx.indexSubClass}}</td>
            <td>{{idx.idxNm}}</td>
            <td>{{idx.idxDef}}</td>
          </tr>
        </tbody>
      </table>
      <img class="no-record"  *ngIf = "indexResult.datas&&indexResult.datas.length === 0" src="img/no_record.png" />
    </div>
    <div class="res-foot">
      <my-paginator [totalPage]="indexResult.totalPage" [currentPage]="currentPage" (onPageChanged)="onPageChanged($event)"></my-paginator>
    </div>
  </div>
</div>
