.see-what{
  margin-right: 0;
  margin-top: 15px;
}
h5{
  font-weight: normal;
}
.info-box{
  width: 320px;
  height: 107px;
  border: solid 1px #d3dadf;
  background-color: #fff;
  margin-bottom: 16px;
  color: #000;
}
.info-desc{
  height: 68px;
  background-color: #f5f9fd;
  border-bottom: solid 1px #d3dadf;
}
.info-desc h5{
  font-size: 22px;
  line-height: 68px;
  margin-bottom: 0;
}
.detail{
  display: none;
}
.info-link {
  font-size: 14px;
  text-decoration: none;
  padding: 3px 5px;
  margin-top: 3px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}
.info-link:hover{
  color: #4c4efa;
  background-color:#fff;
  border-color: #fff;
}
.info-cnt{
  font-size: 16px;
  line-height: 40px;
  color: grey;
}
.count{
  font-weight: bolder;
  color: #2878fc;
}
.info-box:hover{
  transform: scale(1,1.1);
  -webkit-transform: scale(1,1.1);
  // transition: transform 0.6s ease 0s;
  // -webkit-transition: all 0.6s ease 0s;
  border: solid 1px #3681fb;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  h5{
    line-height: 34px;
    font-size: 18px;
    display: none;
  }
  .info-desc{
    height: 107px;
    color: #fff;
    background-image:-webkit-linear-gradient(to bottom, #1cb0fb, #4c4efa);
    background-image:linear-gradient(to bottom,#1cb0fb,#4c4efa);
  }
  .detail{
    display: block;
    padding-top: 5px;
  }
  .desc-wrap{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc{
    text-indent: 2em;
    display: block;
    margin: auto;
    width:90%;
    // overflow:hidden;
    // text-overflow:ellipsis;
    // white-space:nowrap;
    font-size: 14px;
  }
  .info-cnt{
    display: none;
  }
  .icon-box{
    background-image: url(/img/see-what-icon-w.png);
  }
}
//icon 按顺序定位
.icon-box{
  width: 28px;
  height: 23px;
  display: inline-block;
  background-image: url(/img/see-what-icon.png);
  background-repeat: no-repeat;
  vertical-align: text-top;
  margin-right: 6px;
}
.usrCnt:nth-child(2) .icon-box,.usrCnt:nth-child(3) .icon-box,.usrCnt:nth-child(8) .icon-box,{
  background-position: -37px 0;
}
.usrCnt:nth-child(4) .icon-box,.usrCnt:nth-child(6) .icon-box{
  background-position: 0 -31px;
}
.usrCnt:nth-child(5) .icon-box{
  background-position: -37px -31px;
}
.usrCnt:nth-child(7) .icon-box{
  background-position: -37px -62px;
}
.usrCnt:nth-child(9) .icon-box{
  background-position: 0 -62px;
}
