<div class="row see-what">
  <div class="col-md-4 usrCnt" *ngFor="let usrCnt of usrCnts">
    <div class="info-box">
      <div class="info-desc">
        <h5><i class="icon-box"></i>{{usrCnt.appNm}}</h5>
        <div class="detail">
          <!-- <span class="desc">{{usrCnt.appDesc}}</span> -->
          <span class="desc">为管理层提供宏观业务指标的趋势分析，包括业绩概览、销售分析、产品分析、客户分析四大栏目</span>
          <button type="button" name="button" class="btn btn-sm">立即使用</button>
        </div>

      </div>
      <!-- <span class="info-cnt">已有 <span class="count">{{usrCnt.cntTotal}}</span> 人开通</span> -->
      <span class="info-cnt">金服 | PC端 | <span class="count">{{usrCnt.cntTotal}}</span>人开通</span>
    </div>
  </div>
</div>
