// component styles are encapsulated and only applied to their components
h4{
  font-size: 20px;
  color: #293a4a;
  border-left: solid 3px #3782fc;
  padding-left: 10px;
  font-weight: bold;
  margin: 15px auto;
}
h4 span{
  font-size: 16px;
  color: grey;
  font-weight: normal;
}
