// component styles are encapsulated and only applied to their components
.page-title{
  position: relative;
  width: 100%;
}
.page-title h3{
  font-size: 22px;
}
h3:before {
	content: "";
	border-top: 1px solid #d3dadf;
	display: block;
	position: absolute;
	width: 410px;
	top: 10px;
	left: 0
}
h3:after {
	content: "";
	border-top: 1px solid #d3dadf;
	display: block;
	position: absolute;
	width: 410px;
	top: 10px;
	right: 0
}
h4{
  font-size: 20px;
  color: #000;
  border-left: solid 3px #3782fc;
  padding-left: 10px;
}
.see-what{
  margin-right: 0;
  margin-top: 15px;
}
.info-box{
  width: 320px;
  height: 114px;
  border: solid 1px #d3dadf;
  background-color: #fff;
  margin-bottom: 16px;
  color: #000;
}
.info-desc{
  height: 72px;
  background-color: #f5f9fd;
  border-bottom: solid 1px #d3dadf;
}
.info-desc h5{
  font-size: 20px;
  line-height: 72px;
  margin-bottom: 0;
}
.desc{
  display: none;
}
.info-cnt{
  font-size: 16px;
  line-height: 42px;
}
.count{
  font-weight: bolder;
  color: #2878fc;
}
.info-box:hover{
  transform: scale(1,1.1);
  -webkit-transform: scale(1,1.1);
  // transition: transform 0.6s ease 0s;
  // -webkit-transition: all 0.6s ease 0s;
  border: solid 1px #3681fb;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  h5{
    line-height: 36px;
  }
  .info-desc{
    color: #fff;
    background-image:-webkit-linear-gradient(to bottom, #1cb0fb, #4c4efa);
    background-image:linear-gradient(to bottom,#1cb0fb,#4c4efa);
  }
  .desc{
    display: block;
    margin: auto;
    width:80%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .icon-box{
    background-image: url(/img/see-what-icon-w.png);
  }
}
//icon 按顺序定位
.icon-box{
  width: 28px;
  height: 23px;
  display: inline-block;
  background-image: url(/img/see-what-icon.png);
  background-repeat: no-repeat;
  vertical-align: text-top;
  margin-right: 6px;
}
.usrCnt:nth-child(2) .icon-box,.usrCnt:nth-child(3) .icon-box,.usrCnt:nth-child(8) .icon-box,{
  background-position: -37px 0;
}
.usrCnt:nth-child(4) .icon-box,.usrCnt:nth-child(6) .icon-box{
  background-position: 0 -31px;
}
.usrCnt:nth-child(5) .icon-box{
  background-position: -37px -31px;
}
.usrCnt:nth-child(7) .icon-box{
  background-position: -37px -62px;
}
.usrCnt:nth-child(9) .icon-box{
  background-position: 0 -62px;
}

// where
.where{
  padding-left: 5px;
  margin: 15px -10px 16px -15px;
}
.cmpy-box{
  width: 178px;
  height: 170px;
  background-color: #fff;
  margin: auto;
  font-size: 20px;
}
.cmpy-cicle{
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 22px auto 16px;
  color: #fff;
  line-height: 92px;
  background-color: #00abfc;
  box-shadow: 3px 4px 4px rgba(0, 171, 252, 0.4);
}
.cmpy-total{
  font-size: 28px;
}
.cmpy-box:nth-child(2) .cmpy-cicle{
  background-color: #fe5b5f;
  box-shadow: 3px 4px 4px rgba(254, 91, 95, 0.4);
}
.cmpy-box:nth-child(3) .cmpy-cicle{
  background-color: #fdd41f;
  box-shadow: 3px 4px 4px rgba(253, 212, 31, 0.4);
}
.cmpy-box:nth-child(4) .cmpy-cicle{
  background-color: #4b53fa;
  box-shadow: 3px 4px 4px rgba(75, 83, 250, 0.4);
}
.cmpy-box:nth-child(5) .cmpy-cicle{
  background-color: #00cd77;
  box-shadow: 3px 4px 4px rgba(0, 205, 119, .4);
}
// service
.service{
  background-color: #fff;
  height: 420px;
  width: 100%;
  margin: 15px 0 50px;
  padding: 0 14px;
}
.service-box{
  width: 276px;
  height: 313px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin: 79px auto 28px;
}
.icon-circle{
  width: 92px;
  height: 92px;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  margin: -46px auto 12px;
  z-index: 1000;
  background-color: #fff;
  padding: 23px;
}
i.icon{
  display: inline-block;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
i.icon.icon-store{
  background-image: url(/img/store-icon.png);
}
i.icon.icon-count{
  width: 34px;
  background-image: url(/img/count-icon.png);
}
i.icon.icon-work{
  background-image: url(/img/work-icon.png);
}
.service-box span{
  display: block;
}
.service-title{
  font-weight: bold;
  font-size: 20px;
}
.border {
    width:30px;
    border-top:3px solid #3681fc;
    margin: 8px auto 16px;
}
.number{
  font-size: 24px;
  color: #2878fc;
  margin-bottom: -7px;
}
.service-desc{
  font-size: 16px;
  color: #353535;
  margin-bottom: 8px;
}
