.Cmodal {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -200px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 200;
}

.modal-header {
  a {
    float: right;
  }
  h5 {
    float: left;
    line-height: 29px;
    margin-bottom: 0;
  }
}

.modal-body {
  p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
  }
}