// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 1440px;
  padding: 0 120px;
  // margin: 80px 0px 10px 560px;
  // margin: 62px 360px 0px 360px;
  margin: 62px auto 0px auto;
  overflow: hidden;
}
.main-container{
  position: relative;
  margin-left: 210px;
  margin-bottom: 50px;
  min-height: 832px;
}
