// styles in src/style directory are applied to the whole page

body {
  background: #eaf1f4;
  color: #494949;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none
}
