<!-- <my-breadcrumb [curPath]="pagetitle" [parentPath]="parentPath" ></my-breadcrumb> -->

<my-page-title [pagetitle]="pagetitle"></my-page-title>

<div>
  <div class="search">
    <div class="form-group">
      <input type="text" class="form-control search-input" placeholder="按中文表名、英文表名搜索" #tableName (keyup.enter)="onSearch(tableName.value)">
    </div>
    <button type="submit" name="button" class="btn btn-blue btn-search" (click)="onSearch(tableName.value)">搜索</button>
  </div>
  <my-select-box [resultDesc]="resultDesc" [options]="options" [advancedOps]="advancedOps" (onSelectChanged)="onSelectChanged()" ></my-select-box>
</div>

<div class="result">
  <div class="res-top">
    <div class="sort">
      <a href="javascript:;" *ngFor = "let sort of sorts" [class.active]="sort.isActive" (click)="changeOrder(sort)">
        {{sort.desc}} <span *ngIf="sort.sortType === 'asc'">&#8593;</span><span *ngIf="sort.sortType === 'desc'">&#8595;</span>
      </a>
    </div>
    <button type="button" name="button" class="collect btn btn-blue" (click)="turnState()">{{pageState.btnName}}</button>
  </div>
  <div class="tbl-list">
    <div class="tbl-box">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-left">英文表名</th>
            <th class="text-left">中文表名</th>
            <th class="text-left">数据层级</th>
            <th class="text-left">负责人</th>
            <th class="text-left">更新时间</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let tbl of tblResult.datas" class="text-left">
            <td class="tblEnNms" (click)="goToDetail(tbl)">{{tbl.tblEnNm}}</td>
            <td class="tblChNm" (click)="goToDetail(tbl)">{{tbl.tblChNm}}</td>
            <td class="dataLvl">{{tbl.dataLvl}}</td>
            <td class="tblOwner">{{tbl.tblOwner}}</td>
            <td class="updtime">{{tbl.ddlUpdateTime}}</td>
            <td>
              <button class="btn btn-collect" *ngIf="tbl.collModel.isCollection == 1" (click)="collectTbl(tbl)">收藏</button>
              <button class="btn btn-collected" *ngIf="!tbl.collModel.isCollection || tbl.collModel.isCollection == 0" (click)="cancelCollect(tbl)" >已收藏</button>
            </td>
          </tr>
        </tbody>
      </table>
      <img class="no-record"  *ngIf = "tblResult.datas&&tblResult.datas.length === 0" src="img/no_record.png" />
    </div>
    <div class="res-foot">
      <my-paginator [totalPage]="tblResult.totalPage" [currentPage]="currentPage" (onPageChanged)="onPageChanged($event)"></my-paginator>
    </div>
  </div>
</div>

<ngb-alert *ngIf="alertShow" (close)="alertShow = false" class="alert-center" [type]="alertType"><strong>{{alertMsg}}</strong></ngb-alert>
