.table-detail{
  margin-top: 25px;
  background-color: #fff;
  width: 990px;
}
.table-detail .title{
  font-size: 22px;
  padding: 13px 0;
  background-color: #f8f8f8;
  border-bottom: 2px solid #e5e5e5;
  font-weight: 800;
  font-family: '黑体';
}
.content{
  padding: 22px 24px 22px;
}
h5{
  font-size: 18px;
  font-weight: bold;
}
.content i{
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}
.icon-base{
  background-image: url(/img/tbl-base-icon.png);
}
.icon-store{
  background-image: url(/img/tbl-store-icon.png);
}
.icon-field{
  background-image: url(/img/field-icon.png);
}

.base-info{
  margin-bottom: 30px;
}
.form-control:disabled {
  cursor: default;
  background-color: #fff;
}
.form-group{
  width: 100%;
  margin-bottom: 10px;
  height: 38px;
}
label{
  float: left;
  font-size: 16px;
  line-height: 38px;
  width: 25%;
}
.input-box{
  float: left;
  width: 75%;
}
.wide-label label{
  width: 45%
}
.wide-label .input-box{
  width: 55%;
}
.field-list{
  border: 1px solid #e6e6e6;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
}
thead{
  background-color: #fff;
  color: #000;
}
th{
  border-top-width: 0;
  font-size: 16px;
}
tbody{
  font-size: 16px;
}
td {
  max-width: 365px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.option{
  padding-bottom: 24px;
}
.btn{
  width: 84px;
  font-size: 20px;
  padding: 0.5rem 0;
  cursor: pointer;
}
.btn-blue{
  background-color: #2795fc;
  color: #fff;
  box-shadow: 0 2px 4px rgba(39, 149, 252, 0.5);
  border-color: #2795fc;
  margin-right: 26px;
}
.btn-collect{
  color:#a8a8a8;
  background-color: #fff;
  border: 1px solid #d3d2d2;
}
.btn-collect:hover {
  color: #2896fc;
  border-color: #2896fc;
}
.btn-collected{
  color:#fcab2b;
  background-color: #fff;
  border: 1px solid #fcab2b;
}
.btn-collected:hover {
  color: red;
  border-color: red;
}

.alert-center{
  position: fixed;
  top:50%;
  margin-top: -24px;
  right: 41%;
  z-index: 1000;
}
