// where
.where{
  padding-left: 5px;
  margin: 25px -10px 30px -15px;
}

// .cmpy-box{
//   width: 178px;
//   height: 170px;
//   background-color: #fff;
//   margin: auto;
//   font-size: 20px;
//
//   .cmpy-cicle{
//     width: 92px;
//     height: 92px;
//     border-radius: 50%;
//     margin: 22px auto 16px;
//     color: #fff;
//     line-height: 92px;
//     background-color: #00abfc;
//     box-shadow: 3px 4px 4px rgba(0, 171, 252, 0.4);
//   }
//    &:nth-child(2) .cmpy-cicle{
//      background-color: #fe5b5f;
//      box-shadow: 3px 4px 4px rgba(254, 91, 95, 0.4);
//    }
//    &:nth-child(3) .cmpy-cicle{
//      background-color: #fdd41f;
//      box-shadow: 3px 4px 4px rgba(253, 212, 31, 0.4);
//    }
//    &:nth-child(4) .cmpy-cicle{
//      background-color: #4b53fa;
//      box-shadow: 3px 4px 4px rgba(75, 83, 250, 0.4);
//    }
//    &:nth-child(5) .cmpy-cicle{
//      background-color: #00cd77;
//      box-shadow: 3px 4px 4px rgba(0, 205, 119, .4);
//    }
// }
// .cmpy-total{
//   font-size: 28px;
// }


.userNum-box{
  border-radius: 10px;
  width: 178px;
  height: 163px;
  background-color: #9aa2fa;
  box-shadow: 0px 4px 3px 1px rgba(154, 162, 250, 0.4);
  color: #fff;
  margin: auto;
  position: relative;
  &:nth-child(2){
    background-color: #d180f4;
    box-shadow: 0px 4px 3px 1px rgba(209, 128, 244, .4);
  }
  &:nth-child(3){
    background-color: #f36b7f;
    box-shadow: 0px 4px 3px 1px rgba(243, 107, 127, .4);
  }
  &:nth-child(4){
    background-color: #5bcaff;
    box-shadow: 0px 4px 3px 1px rgba(91, 202, 255, .4);
  }
  &:nth-child(5){
    background-color: #fdc992;
    box-shadow: 0px 4px 3px 1px rgba(253, 201, 146, .4);
  }
}
.userNum-box:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.cnt-top{
  display: block;
  margin-top: 16px;
  margin-bottom: -6px;
  .material-icons{
    font-size: 52px;
  }
}
.cnt-num{
  font-size: 24px;
}
.txt-sm {
  font-size: 14px;
}
.cmp-name{
  position: absolute;
  font-size: 18px;
  width: 100%;
  bottom: 15px;
}
