<my-breadcrumb [curPath]="pagetitle"></my-breadcrumb>

<my-page-title [pagetitle]="pagetitle"></my-page-title>

<form (ngSubmit)='onSearch()'>
  <div class="search">
    <div class="form-group">
      <input type="text" list="list" [(ngModel)]="searchModel.tableName" name="tableName" class="form-control search-input" placeholder="按中文表名、英文表名搜索" #tableName="ngModel" (ngModelChange)='tableNameChange($event)'>
    </div>
    <button type="submit" name="button" class="btn btn-blue btn-search">搜索</button>
  </div>
</form>

<!-- <div class="col-md-10 chart">
  <div class="chart-box">
     <div echarts [options]="relatedOption" class="chart-graph"></div> 
</div>
</div> -->

<datalist id="list">
  <ng-container *ngFor="let option of searchList">
    <option  *ngIf="!isChNm" [value]="option.tblChNm" >
    <option  *ngIf="isChNm" [value]="option.tblEnNm">
  </ng-container>
</datalist>