<!-- <my-breadcrumb [curPath]="pagetitle"></my-breadcrumb> -->

<my-page-title [pagetitle]="pagetitle"></my-page-title>

<form (ngSubmit)='onSearch()'>
  <div class="search">
    <div class="form-group">
      <input type="text" list="list" [(ngModel)]="searchModel.tableName" autofocus (blur)="hideSearchList($event)" autocomplete="off" (focus)="showSearchList($event)" name="tableName" class="form-control search-input" placeholder="按中文表名、英文表名搜索" #tableName="ngModel"
        (ngModelChange)='tableNameChange($event)'>
      <div id="list" *ngIf="isFocus" (click)="chooseTable($event)">
        <ul class="chList" *ngIf="!isChNm">
          <li *ngFor="let li of searchList">{{ li.tblEnNm }}</li>
        </ul>
        <ul class="enList" *ngIf="isChNm">
          <li *ngFor="let li of searchList">{{ li.tblChNm }}</li>
        </ul>
      </div>
    </div>
    <button type="submit" name="button" class="btn btn-blue btn-search">搜索</button>
  </div>
</form>

<div class="col-md-12 chart">
  <div class="chart-box">
    <div class="bg"></div>
    <div echarts *ngIf="!searchResult" [options]="relatedOption" class="chart-graph-bubble"></div>
    <div echarts *ngIf="searchResult" [options]="bloodRelationMapOption" class="chart-graph-blood"></div>
  </div>
  <pre class="bubble-tips" *ngIf="!searchResult">
      注意：
      1、按基础数据及业务应用域的规则，将数据仓库中的数据划分为不同的球点域;
      2、球点越大，代表该域包含的表数量越多，内置的数字为包含的表数量;
      3、球点之间的连线，代表存在数据引用关系，引用的表个数在连线之上;
  </pre>
</div>
