.page-title{
  position: relative;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}
.page-title h3{
  font-size: 22px;
  font-family: '黑体';
  font-weight: bold;
  color: #34495e;
}
h3:before {
	content: "";
	border-top: 1px solid #d3dadf;
	display: block;
	position: absolute;
	width: 410px;
	top: 10px;
	left: 0
}
h3:after {
	content: "";
	border-top: 1px solid #d3dadf;
	display: block;
	position: absolute;
	width: 410px;
	top: 10px;
	right: 0
}
