
.card{
  height: 355px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  margin-bottom: 24px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}
.card-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 44px;
  font-size: 16px;
  padding: 14px 22px;
}
.card-title {
  font-weight: 600;
  font-size: 16px;
  color: #34495e;
  text-align: left;
}
.ability-icon{
  margin: 15px auto 12px;
}
.ability-icon.count-ability{
  margin: 15px auto 12px;
}
.ability-icon.work-ability{
  margin: 15px auto 12px;
}
.ability-icon i{
  font-size: 100px;
  color: #ff5a8f;
}
.ability-icon.count-ability i{
  color: #5bcaff;
}
.ability-icon.work-ability i{
  color: #7fe9e1;
}
.ability-desc{
  padding: 0 33px 10px;
}
.storage .ability-item{
  padding: 6px 0px;
}
.ability-item{
  padding: 3px 0px;
}
.ability-icon.count-ability > .ability-item {
  margin-top: -17px;
}
.ability-item span{
  display: block;
}
.circle{
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ff5a8f;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 2px;
}
.counting .circle{
  background-color: #5bcaff;
  margin-right: 10px;
}
.job .circle{
  background-color: #7fe9e1;
  margin-right: 10px;
}
.item-name{
  color: grey;
  font-size: 14px;
}
.item-val{
  font-size: 18px;
}
.counting .item-val{
  padding-left: 23px;
}

// .service{
//   background-color: #fff;
//   height: 420px;
//   width: 100%;
//   margin: 15px 0 50px;
//   padding: 0 14px;
// }
// .service-box{
//   width: 276px;
//   height: 313px;
//   border: 1px solid #c0c0c0;
//   border-radius: 4px;
//   margin: 79px auto 28px;
// }
// .icon-circle{
//   width: 92px;
//   height: 92px;
//   border: 1px solid #c0c0c0;
//   border-radius: 50%;
//   margin: -46px auto 12px;
//   z-index: 1000;
//   background-color: #fff;
//   padding: 23px;
// }
// i.icon{
//   display: inline-block;
//   background-repeat: no-repeat;
//   height: 46px;
//   width: 46px;
// }
// i.icon.icon-store{
//   background-image: url(/img/store-icon.png);
// }
// i.icon.icon-count{
//   width: 34px;
//   background-image: url(/img/count-icon.png);
// }
// i.icon.icon-work{
//   background-image: url(/img/work-icon.png);
// }
// .service-box span{
//   display: block;
// }
// .service-title{
//   font-weight: bold;
//   font-size: 20px;
// }
// .border {
//     width:30px;
//     border-top:3px solid #3681fc;
//     margin: 8px auto 16px;
// }
// .number{
//   font-size: 24px;
//   color: #2878fc;
//   margin-bottom: -7px;
// }
// .service-desc{
//   font-size: 16px;
//   color: #353535;
//   margin-bottom: 8px;
// }
